# Requirements file for ML algorithms practice environment
# Specifies the necessary Python packages and their versions
jupyter
lxml
MarkupSafe
matplotlib
notebook
numpy
openpyxl
pandas
Pillow
scikit-learn
scipy
seaborn
SQLAlchemy
statsmodels
